.progress {
    -moz-appearance    : none;
    -webkit-appearance : none;
    border             : none;
    border-radius      : 290486px;
    display            : block;
    height             : 1rem;
    overflow           : hidden;
    padding            : 0;
    width              : 90%;
    margin             : 1rem 0;
}
:root {
    --bai: #FFFFFF;
    --hei: #4A4A4A;
    --hong: #CC0F35;
    --huang: #947600;
    --lv: #00947e;
    --lan: #2160c4;
    --zi: #8a51c0;
}